#!/usr/bin/env bash
set -e

DIR=`pwd`
PATH="$DIR/.direnv/bin:$PATH"

cd $DIR

init() {
if [ ! -d $DIR/$1/node_modules ] ; then
  cd $DIR/$1
  yarn
  cd $DIR
fi
}

init .

if [ ! -e ".git/hooks/pre-commit" ]; then
  rm -rf .git/hooks/pre-commit
  mkdir -p .git/hooks
  ln -s ../../.direnv/git/hooks/pre-commit .git/hooks/pre-commit
  chmod +x .git/hooks/pre-commit
fi

